{% if user.is_active %}
  <form method="post" class="ml-1">
    {% csrf_token%}
    {{form.parent.as_hidden}}
    <div class="form-group">
      <label for="{{form.comment_body.id_for_label}}"></label>
      <textarea class="form-control" id="{{form.comment_body.id_for_label}}" rows="3" name="{{form.comment_body.html_name}}" placeholder="Enter Comment Here..." required=""></textarea>
    </div>
    <button type="submit" class="btn btn-success" name="comment-post"><i class="fas fa-comments mr-2"></i>Submit</button>
  </form>
{% else%}
  <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt mr-1"></i>Login here</a> to submit comment<i class="fas fa-comments ml-2"></i>
{% endif %}